HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Firebase Configs ###
sti-queueing-app-firebase-adminsdk-fbsvc-3f59f0f6e2.json
sti-queueing-app-firebase-adminsdk-fbsvc-d3d3f33f48.json
/firebase-config*.json
/firebase-service-account*.json
/serviceAccountKey*.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
